<div>
	<div class="row">
		
	    <div class="col-md-12 content_image">
	        <img src='images/{{users.url}}'   alt="images/image1.jpg">
	    </div>

	</div>
	<div class="row">
		<h1> Name </h1>
	    <div class="col-md-9 content_input">
	        <input type="text" placeholder="Name" ng-model=" users.Name" disabled>
	    </div>

	</div>
	<div class="row">
		<h1> Profession </h1>
	    <div class="col-md-9 content_input">
	        <input type="text" placeholder="Name" ng-model=" users.profession" disabled>
	    </div>

	</div>
	<div class="row">
		<h1> Status </h1>
	    <div class="col-md-9 content_input">
	        <input type="text" placeholder="Name" ng-model=" users.status" disabled>
	    </div>

	</div>
	<div class="row">
		<h1> Country </h1>
	    <div class="col-md-9 content_input">
	        <input type="text" placeholder="Name" ng-model=" users.country" disabled>
	    </div>

	</div>
</div> 