<div class=" container wrapper">
	<div class ="row">
		<div class="col-md-12 head"><h1 style="text-align:center;">{{ info }}<h1></div>
		<div class="col-md-5 img">
			<img src='images/{{viewContent.url}}'   alt="images/image1.jpg">
		</div>
		<div class="col-md-6 col-md-offset-1">
			<div> Name: <input type="text" placeholder="Name" ng-model=" viewContent.Name" disabled> </div>
			<div> Profession: <input type="text" placeholder="Name" ng-model=" viewContent.profession" disabled> </div>
			<div> Status: <input type="text" placeholder="Name" ng-model=" viewContent.status" disabled> </div>
			<div> Country: <input type="text" placeholder="Name" ng-model=" viewContent.country" disabled> </div>
		</div>

	</div>

</div>